
<div class="card" >
  <h4> {{book.title}}</h4>
  <h5>{{book.author}}</h5>
  <p>{{book.ISBN}}</p>
  <p>Year of publication: {{book.yearOfPublication}} </p>
  <p>publisher: {{book.publisher}} </p>
  <a  [routerLink]="['/add-book/', book._id]"> Edit</a>
</div>

<h1>Reviews</h1>

<div class="card" *ngFor="let item of review">
  <h4> {{item.title}} <ngb-rating [(rate)]="item.score" [readonly]="true" [max]="5"></ngb-rating> </h4>
  <p>{{item.profileName}} - {{item.time | date }} </p>
  <p>ISBN {{item.text}} </p>
  <div class="col-2">
    <button class="btn btn-light" (click)="onDelete(item)">Delete</button>
  </div>
</div>
